<% provide(:title, "Home")  %>

<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %>  | RoR tutorial project</title>
	</head>
		<body>
			<h1>Home</h1>
		<p>
		  <%= link_to 'Users', users_url%>
		</p>

		<p>
			<%= link_to 'Microposts', microposts_url%>
		</p>
		<p>
			<%= link_to 'Info', static_pages_url%>
		</p>


		</body>
</html>

