<% provide(:title, "Info")  %>

<h1> Info</h3>

<p>
	<%= link_to 'Help', static_pages_help_url%>
</p>

<p>
	<%= link_to 'About', static_pages_about_url%>
</p>

<p>
	<%= link_to 'Back', root_url%>
</p>